<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>£</string>
		<key>shortcut</key>
		<string>%pound</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>%shrug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>P.S.</string>
		<key>shortcut</key>
		<string>ps</string>
	</dict>
</array>
</plist>
