# -*- sh -*-

# Documented in git-config(1).

[user]
	name = Michael Stillwell
	email = mjs@beebo.org

[core]
	excludesfile = ~/.gitignore

[diff]
    mnemonicprefix = true

[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    vlog = log --name-status
    type = cat-file -t
    dump = cat-file -p
    stat = status -sb
    svnpull = !git diff --no-ext-diff --quiet --exit-code && ( git svn fetch && git svn rebase ) || ( git stash && git svn fetch && git svn rebase && git stash pop )
    svnpush = !git diff --no-ext-diff --quiet --exit-code && ( git svn dcommit ) || ( git stash && git svn dcommit && git stash pop )
    # http://stackoverflow.com/a/10693888/11543
    branch-by-date = for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short) %(committerdate:short) %(authorname)'
    
[bash]
    # If GIT_PS1_SHOWDIRTYSTATE is set and bash.showDirtyState is 1,
    # display dirty state indicator.  (Defaulting to on; disable 
    # in .git/config on very large repositories.)
    showDirtyState = 1

[advice]
	pushNonFastForward = false
	statusHints = true

[push]
	default = upstream

[merge]
    defaultToUpstream = true
