"*":
  "atom-beautify":
    _analyticsUserId: "542ad6ff-4e4a-479a-bee1-7e619cab00b0"
    analytics: false
    js_jslint_happy: true
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    audioBeep: false
    disabledPackages: [
      "Zen"
      "symbols-tree-view"
      "metrics"
      "exception-reporting"
    ]
    projectHome: "/Users/stillers/workspace"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    nonWordCharacters: "/\\\\()\\\"':,.;<>~!@#$%^&*|+=[]{}`?-…_"
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "f87332bf-54f7-bc72-aeba-5b58d78cb5d4"
  "find-and-replace":
    focusEditorAfterSearch: true
  linter:
    lintOnChange: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconPosition: "Right"
    statusIconScope: "File"
  "linter-eslint": {}
  metrics:
    userId: "305d8eb962055d82cd69f9974fcc3c7d0e3f288e"
  minimap: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "symbols-tree-view":
    autoToggle: true
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
