'exception-reporting':
  'userId': 'f87332bf-54f7-bc72-aeba-5b58d78cb5d4'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '305d8eb962055d82cd69f9974fcc3c7d0e3f288e'
'editor':
  'fontFamily': 'Source Code Pro'
  'showIndentGuide': true
  'softWrapAtPreferredLineLength': true
  'fontSize': 14
'core':
  'themes': [
    'atom-dark-ui'
    'solarized-dark-syntax'
  ]
  'projectHome': '/Users/stillers/workspace'
'markdown-preview': {}
