"*":
  "exception-reporting":
    userId: "f87332bf-54f7-bc72-aeba-5b58d78cb5d4"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "305d8eb962055d82cd69f9974fcc3c7d0e3f288e"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 14
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
  core:
    disabledPackages: [
      "Zen"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
    projectHome: "/Users/stillers/workspace"
  "bracket-matcher":
    autocompleteBrackets: false
  "find-and-replace":
    focusEditorAfterSearch: true
  "atom-beautify":
    _analyticsUserId: "542ad6ff-4e4a-479a-bee1-7e619cab00b0"
    analytics: false
    js_jslint_happy: true
  linter:
    lintOnChange: false
  "linter-jshint": {}
