#!/usr/bin/env bash

source $(git rev-parse --git-dir)/hooks/change_detector.sh

if has_changed $(basename $0) package.json ; then
  echo "warning: package.json has changed"
fi

if has_changed $(basename $0) yarn.lock ; then
  echo "warning: yarn.lock has changed"
fi
