# https://starship.rs/config/

add_newline = false

[character]
format = "$symbol "
success_symbol = "[\\$](bold green)"

[package]
disabled = true

[java]
disabled = true

[nodejs]
disabled = true

[cmd_duration]
disabled = true

[python]
disabled = true

[ruby]
disabled = true

[php]
disabled = true

[rust]
disabled = true

[golang]
disabled = true

[gcloud]
disabled = true

[git_branch]
format = "[$symbol$branch]($style) "

[gradle]
disabled = true

[kotlin]
disabled = true
