/*
 * This file is probably used via its copy at
 *
 * https://cdn.rawgit.com/ithinkihaveacat/dotfiles/master/etc/code/markdown.css
 *
 * See
 *
 * https://code.visualstudio.com/Docs/languages/markdown#_using-your-own-css
 * https://github.com/Microsoft/vscode/blob/master/extensions/markdown/src/extension.ts (computeCustomStyleSheetIncludes)
 */

body {
  font-family: "Go", "Fira Sans", "Source Sans Pro";
  margin-left: 2em;
  margin-right: 3em;
  max-width: 40em;
}

code {
  font-family: "Go Mono", "Fira Code", "Source Code Pro"
}
